# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Our local database (do not commit!)
keyboard_prices.csv

# macOS
.DS_Store
